<p>Hi <%= "buddy".upcase %>!</p>

<h1>Task List</h1>
<ul>
  <% @tasks.each do |task|  %>
    <li>
      Task Name: <%= task[:name] %>; Description: <%= task[:description] %>
      <%= link_to "(View Details)", task_path(task.id) %>
      <%= link_to "(Edit Task)", edit_task_path(task.id) %>
      <%= link_to "(Delete Task)", task_path(task.id), method: :delete %>
      <%= link_to "(Complete Task)", complete_task_path(task.id), method: :patch %>
    </li>
  <% end %>
</ul>

<%= link_to "(Add New Task)", new_task_path %>
